<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ast Daria</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
</head> 
<body>
  <div class="container">
    <header class="header">
      <section class="menu">
        <a href="" class="menu__item menu__item_active">Home</a>
        <a href="file:///D:/projects/blog-daria/template/projects.html" class="menu__item">Projects</a>
        <a href="" class="menu__item">Blog</a>
      </section>
    </header>
    <section class="item">
      <h3 class="item__title">Театр огня «Агни&nbsp;Кай»</h3>
      <p class="item__text">The site was created in 2014.</p>
      <div class="item__content">
        <img class="item__img" src="css/img/agni.png" alt="">
      </div>
      <div class="item__view">
        <div class="item__text">View site:</div>
        <a href="http://fire58.ru/" class="item__link">fire58.ru</a>
      </div>
    </section>
    <footer class="footer">
      <div class="copyright">Create by me</div>
    </footer>
  </div>
</body>
<script src="js/jquery-1.12.1.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/main.js"></script>