<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ast Daria</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="icon" type="image/ico" href="favicon.ico"/>
</head> 
<body>
  <section class="start">
    <div class="start__content">
      <h1 class="start__title">I am Ast&nbsp;Daria</h1>
      <div class="start__text">and i web developer</div>
      <a class="start__link" href="file:///D:/projects/blog-daria/template/index.html">Hello</a>
    </div>
  </section>
</body>
